{% load static %}

<li>
    <article class="post">
      <a href="{%url "post-detail-page" "the-mountains"%}">
        <img src="{%static 'blog/images/mountain.jpg'%}" alt="Mountain Hiking" />
      
      <div class="post__content">
        <h3>Mountain Hiking</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
          optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Eligendi magni recusandae impedit provident doloribus animi
          praesentium! In voluptatibus similique culpa iusto expedita dolor,
          consequatur iure voluptates? Dignissimos esse ratione labore?
        </p>
      </div>
      </a>
    </article>
  </li>